.#{$keyless_ui_class} {
	.connected {
	    background-color: $c--background;
	    color: $c--green--neon;
	    cursor: pointer;
	    border: 1px solid $c--green--neon;
	    border-radius: 20px;
	    padding: 5px 10px;
	    @include font-size(10px);
	    font-weight: 600;
	    width: 80px;
	}
}