
.connected {
    color: $c--green--neon;
    cursor: pointer;
    border: 1px solid $c--green--neon;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 10px;
    font-weight: 600;
    width: 58px;
}