.#{$keyless_ui_class} {
    .disconnected {
        background-color: $c--background;
        color: $c--red;
        cursor: pointer;
        border: 1px solid $c--red;
        border-radius: 20px;
        padding: 5px 10px;
        @include font-size(10px);
        font-weight: 600;
        width: 110px;
        text-align: center;
    }
}