
@import "../3-mixins.scss";
// LOGIN
.login {
    @include container(-280px, -40px, 360px, 450px);
    &__header {
        @include header;
        h3 {
            @include font-size(18px);
            color: $c--gray;
        }
    }
    form {
        .icon-inside {
            position: relative;
            .icon-left {
                position: absolute;
                top: 15px;
                left: 15px;
                width: 18px;
            }
            .icon-right {
                cursor: pointer;
                position: absolute;
                top: 17px;
                right: 15px;
                width: 20px;
            }
        }
        .input-id,
        .input-pass {
            color: $c--white;
            @include font-size(16px);
            background-color: $c--background;
            border: solid 1px $c--blue--dark;
            margin-bottom: 14px;
            border-radius: 10px;
            width: 100%;
            padding: 15px 47px;
            &::placeholder {
                color: $c--gray--second;
                font-family: $ff--primary;
                @include font-size(18px);
            }
            &:focus {
                outline: none;
                border: solid 1px $c--blue;
            }
        }
        .input-pass {
            letter-spacing: 3px;
            font-size: 18px;
            height: 50px;
            &::placeholder {
                color: $c--gray--second;
                @include font-size(28px);
                position: relative;
                letter-spacing: 1px;
                top: 1px;
            }
        }
    }
    &__footer {
        text-align: center;
        h4 {
            margin: 20px 0px;
            color: $c--gray--second;
            @include font-size(12px);
            font-weight: 500;
            a {
                margin-left: 10px;
                color: $c--blue;
                text-decoration: none;
            }
            svg {
                color: $c--blue;
                width: 6px;
            }
        }
        .forgot-pass {
            @include font-size(14px);
            font-weight: 500;
            color: $c--gray--second;
            text-decoration: none;
            border-bottom: 1px solid $c--gray--second;
            padding-bottom: 6px;
        }
    }
}