@import "../3-mixins.scss";

// MOBILE OR
.mobile-or {
    @include container(-280px, -10px, 360px, 486px);
    &__header {
        @include header(12px);
        h3 {
            margin-top: 20px;
        }
    }
    &__code {
        background-color: $c--white;
        border-radius: 10px;
        margin: 20px auto 0px auto;
        width: 314px;
        height: 314px;
        .bitmap {
            width: 294px;
            height: 293px;
        }
    }
}