@import "../3-mixins.scss";
.#{$keyless_ui_class} {
    // MOBILE OR
    .mobile-or {
        @include container(160px, 100px, 360px, 486px);
        &__header {
            @include header;
            h3 {
                @include font-size(12px);
                margin-top: 30px;
                margin-bottom:2px;
            }
        }
        &__code {
            background-color: $c--white;
            border-radius: 10px;
            margin: 0px auto 0px auto;
            padding: 16px;
            width: 314px;
            height: 314px;
            img {
                width: 100%;
            }
        }
    }
}