
// COLORS
$c--background: #090A1A;
$c--background--second: #131524;
$c--black--light: #1d1e2d;
$c--white: #fff;
$c--white--sec: #d8d8d8;
$c--gray: #acb5c3;
$c--gray--second: #cbd7e9;
$c--gray--third: #687189;
$c--gray--forth: #7a8599;
$c--gray--dark: #8690a0;
$c--gray--darker: #243046;
$c--blue--dark: #2a3950;
$c--blue: #007aff;
$c--blue--light: #627eea;
$c--green--neon: #44de8c;
$c--red: #ff697b;
$c--red-second: #ff4d4d;

// FONTS
$ff--primary: 'Montserrat', sans-serif;
$ff--secondary: 'Zilla Slab', serif;

// BREAKPOINTS
$media--min--width: 480px;
