
// COLORS
$c--background: #090A1A;
$c--white: #fff;
$c--gray: #acb5c3;
$c--gray--second: #cbd7e9;
$c--gray--third: #687189;
$c--blue--dark: #2a3950;
$c--blue: #007aff;
$c--green--neon: #44de8c;

// FONTS
$ff--primary: 'Montserrat', sans-serif;