
@mixin container($bgPos1, $bgPos2, $width, $height) {
    // background: url("../images/bubles-bg.svg") fixed;
    background: url("../images/background_planets.png");
    background-size: cover;
    background-color: $c--background;
    border-radius: 20px;
    box-shadow: 10px 12px 34px 0 rgba(0, 0, 0, 0.1);
    font-family: $ff--primary;
    position: relative;
    padding: 20px;
    // background-position: $bgPos1 $bgPos2;
    width: $width;
    min-height: $height;
}

@mixin header {
    padding: 18px;
    text-align: center;
    .logo {
        img {
            width: 80px;
        }
    }
    h3 {
        color: $c--gray--second;
        font-weight: 500;
    }
}

@mixin button($bgCol, $border, $color, $ff, $fw, $mt, $w, $h, $br) {
    background-color: $bgCol;
    border: $border;
    color: $color;
    cursor: pointer;
    font-family: $ff;
    font-weight: $fw;
    margin-top: $mt;
    width: $w;
    height: $h;
    border-radius: $br;
}