@import '../../node_modules/rfs/scss.scss';
@import "./0-variables.scss";
@import "./0-typo.scss";
@import "./1-elements.scss";
@import "./2-items.scss";

// GLOBAL
.#{$keyless_ui_class} {
    // body {
    @include font-size(16px);
    // }
    input {
        -moz-appearance:textfield;
    }
    * {
        box-sizing: border-box;
    }

    #connection-status {
        .connected:hover~.hover-info--1 {
            transform: none;
        }
        .hover-info--1__triangle {
            left: 30px;
        }
    }

    .dashboard__wallet .copy-address:hover > .hover-info--1,
    .transaction__account__address:hover > .hover-info--1,
    .transaction__account__user:hover > .hover-info--1,
    .connected:hover~.hover-info--1,
    .disconnected:hover~.hover-info--1 {
        visibility: visible;
        opacity: 1;
        z-index: 10;
        width: auto;
        transform: translateX(-50%);
        left: 20px;
    }

    .connected~.hover-info--1 {
        position: absolute;
        left: 55px;
    }
    .disconnected~.hover-info--1 {
        position: absolute;
        left: 78px;
    }
    .transaction__account__user > .hover-info--1 {
        width: 114px;
    }

    .dashboard__wallet .copy-address {
        .hover-info--1 {
            margin-top: 75px;
            
            span {
                display: inline-block;
                width: auto !important;
            }
        }
    }

    .dashboard__wallet .copy-address:hover > .hover-info--1 {
        transform: none;
    }
}